@import "./../../../assets/styles/card";

ion-content {
  --padding-top: 5rem !important;
}

ion-list { 
  background-color: transparent;
}

ion-item {
  --background: transparent;
}

.text-not-available{
  position: absolute;
  left: 30%;
  right: 0;
  top: 20%;
  transform: translate(-20%,-20%);
  text-align: center;
  color: var(--ion-color-medium);
  font-size: 0.75rem;
}