<ion-header [hidden]="!headerConfig?.showHeader || false">
  <ion-toolbar class="custom-header">
    <div class="header-content" *ngIf="headerConfig?.actionButtons[0] !== 'bot'">
      <ion-buttons slot="start" class="start-icon">
        <ion-button [hidden]="headerConfig?.showbackButton">
          <ion-icon aria-hidden="true" class="pitara-icon" src="assets/images/logo.svg"></ion-icon>
        </ion-button>
        <!-- Back button image -->
        <ion-button [hidden]="!headerConfig?.showbackButton" (click)="emitEvent($event, 'back')">
          <ion-icon class="back-btn" aria-hidden="true" src="assets/icon/back.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title role="heading" [ngClass]="{'title_bb': headerConfig?.showbackButton, 'animate_title': headerConfig?.pageTitle == appName}" aria-level="1" 
      *ngIf="!(headerConfig?.showbackButton && headerConfig?.actionButtons?.indexOf('search') >=0)">{{ headerConfig?.pageTitle | translate}}</ion-title>
      <ion-input type="search" *ngIf="headerConfig?.showbackButton && headerConfig?.actionButtons?.indexOf('search') >=0" #searchInput [placeholder]="'SEARCH_HINT' | translate"></ion-input>
      <ion-buttons slot="end" [hidden]="headerConfig?.showbackButton">
        <ion-button (click)="emitEvent($event, 'search')">
          <ion-icon aria-hidden="true" src="assets/icon/search.svg"></ion-icon>
        </ion-button>
        <ion-button (click)="emitEvent($event, 'scan')">
          <ion-icon aria-hidden="true" src="assets/icon/qr-scan.svg"></ion-icon>
        </ion-button>
        <ion-button (click)="emitEvent($event, 'profile')">
          <ion-icon aria-hidden="true" src="assets/icon/language-icon.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end" [hidden]="!headerConfig?.showbackButton">
        <!-- <ion-button *ngIf="headerConfig?.actionButtons?.indexOf('search') >=0">
          <ion-icon aria-hidden="true" class="audio-record-mic" src="assets/icon/mic.svg"></ion-icon>
        </ion-button> -->
        <ion-button (click)="emitEvent($event, 'edit')" *ngIf="headerConfig?.actionButtons?.indexOf('edit') >=0">
          <ion-icon aria-hidden="true" class="edit-icon" src="assets/icon/edit.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <!--bot panel header-->
    <div class="bot-back-panel" *ngIf="headerConfig?.actionButtons[0] === 'bot'">
      <div class="bot-back-panel-container" [ngClass]="headerConfig.pageTitle === 'Parent Tara' || headerConfig.pageTitle === 'Teacher Tara' ?  'question-bot' : '' "  (click)="emitEvent($event, 'back')">  <!--use the class "parent-bot" for parent bot panel-->
        <ion-icon aria-hidden="true" src="assets/icon/bot-back-icon.svg"></ion-icon>
        <div class="bot-back-panel__title">{{headerConfig.pageTitle | translate}}</div>
        <div class="logo">
          <img *ngIf="headerConfig.pageTitle === 'Katha Sakhi'" src="../../../assets/images/story_sakhi.png" alt=""/>
          <img *ngIf="headerConfig.pageTitle === 'Parent Tara'" src="../../../assets/images/parent_sakhi.png" alt=""/>
          <img *ngIf="headerConfig.pageTitle === 'Teacher Tara'" src="../../../assets/images/teacher_sakhi.png" alt=""/>
        </div>
      </div>
    </div>
    <!--bot panel header ends here-->
    <div class="pills-container" *ngIf="!headerConfig?.showbackButton && headerConfig?.pageTitle !== 'My Jaadui Pitara'">
      <ion-chip class="pills" (click)="toggleMenu()">
        <ion-icon aria-hidden="true" src="assets/icon/list.svg"></ion-icon>
      </ion-chip>
      <div *ngFor="let filter of filters; let i=index" (click)="handleFilter(filter)">
        <ion-chip class="pills" [ngClass]="filter?.label == defaultFilter?.label ? 'active': ''">{{filter.label | translate }}</ion-chip>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="mainContent" class="sb-side-menu" side="start" persistent="true"
  [swipeGesture]="false">
  <ion-header>
    <ion-toolbar>
      <ion-title class="filter_title">{{'All Categories' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list class="sb-menu-list">
      <ion-item lines="none" *ngFor="let item of filters" (click)="emitSideMenuItemEvent($event, item)">
        <ion-label class="sb-menu-item" [ngClass]="item?.label == defaultFilter?.label ? 'active-label': ''" role="button" menuClose>{{item.label | translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <div class="footer_menu">
      <ion-label class="sb-menu-item" role="button" menuClose>{{"Version: " | translate}} {{appVersion}}</ion-label>
      <ion-label role="button" menuClose><span>(Powered by Bhashini)</span></ion-label>
    </div>
  </ion-footer>
</ion-menu> 
