<ion-content id="content" [fullscreen]="true">
  <div class="bot-content" *ngIf="botMessages.length > 0">
    <div *ngFor="let msg of botMessages; let i = index">
      <div *ngIf="msg?.type !== ''" class="bot-content__message {{msg?.type}}" [ngClass]="i !==0 ? 'msg-block': ''">
        <ion-text>{{msg?.displayMsg | translate }}</ion-text>
        <ion-button *ngIf="msg?.readMore" fill="clear" size="small" (click)="readmore(msg)">{{'Read more...' | translate}}</ion-button>
        <div class="audio_msg" *ngIf="msg?.messageType == 'audio'" (click)="playFile(msg)">
          <div class="play_audio">
            <img *ngIf="!msg?.audio?.play" src="../../../assets/icon/play.svg" alt="" />
            <img *ngIf="msg?.audio?.play" src="../../../assets/icon/pause.svg" alt="" />
            <span>{{msg?.audio?.duration}}</span>
          </div>
          <div class="audio-wave">
            <img src="../../../assets/icon/waveform.svg" alt=""/>
            <img src="../../../assets/icon/waveform.svg" alt=""/>
          </div>
        </div>
        <ion-text class="time" *ngIf="msg?.time" >{{msg?.time}}</ion-text>
      </div>
      <div *ngIf="msg?.type === 'received' && i !== 0 && msg.timeStamp && !msg?.audio?.file && msg.message !== 'An unknown error occured, please try after sometime'" class="action-div">
        <div class="action_button" (click)="msgLiked(msg, 'like')">
          <ion-icon class="like" aria-hidden="true" src="assets/icon/thumb-up.svg" *ngIf="!msg.likeMsg"></ion-icon>
          <ion-icon aria-hidden="true" src="assets/icon/like.svg" *ngIf="msg.likeMsg"></ion-icon>
        </div>
        <div class="action_button unlike" (click)="msgLiked(msg, 'dislike')">
          <ion-icon class="like" aria-hidden="true" src="assets/icon/thumb-up.svg" *ngIf="!msg.dislikeMsg"></ion-icon>
          <ion-icon aria-hidden="true" src="assets/icon/dislike.svg" *ngIf="msg.dislikeMsg"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="bot-input">
    <ion-input *ngIf="!startRecording" [disabled]="disabled" aria-label="" value="" [placeholder]="'Type here' | translate" (keyup.enter)="handleMessage()" fill="outline" shape="round" [(ngModel)]="textMessage"></ion-input>
    <div class="input_record" *ngIf="startRecording">
      <ion-icon aria-hidden="true" class="audio-record-mic on-record" name="mic"></ion-icon>
      <ion-label >{{durationDisplay}}</ion-label>
    </div>
    <div #recordbtn [ngClass]="startRecording ? 'cancel-div' : ''">
      <ion-label class="cancel-record" *ngIf="startRecording"><span> << {{'Swipe left to cancel' | translate }}</span></ion-label>
      <ion-button [disabled]="disabled" fill="clear" size="small" (touchstart)="onLongPressStart()" (touchend)="onLongPressEnd()">
        <ion-icon *ngIf="textMessage.length == 0" [scrollY]="true" aria-hidden="true" class="audio-record-mic right icon" src="assets/icon/bot-audio.svg"></ion-icon>
      </ion-button>
    </div>
    <ion-icon *ngIf="textMessage.length > 0" class="audio-record-mic right icon" name="send" (click)="handleMessage()"></ion-icon>
  </div>
</ion-content>

