<ion-content>
  <ion-tabs #tabRef (ionTabsDidChange)="ionTabsDidChange($event)">
    <ion-tab-button tab="home" href="/tabs/home" class="home-screen">
      <ion-icon aria-hidden="true" src="assets/icon/home.svg"></ion-icon>
    </ion-tab-button>
  
    <ion-tab-bar slot="bottom" class="tabbar">
  
      <ion-tab-button tab="story" href="">
        <ion-icon aria-hidden="true" src="assets/icon/book.svg"></ion-icon>
        <ion-label>{{'Katha Sakhi' | translate }}</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="parent-sakhi" href="">
        <ion-icon aria-hidden="true" src="assets/icon/parents.svg"></ion-icon>
        <ion-label>{{'Parent Tara' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="teacher-sakhi" href="">
        <ion-icon aria-hidden="true" src="assets/icon/teacher.svg"></ion-icon>
        <ion-label>{{'Teacher Tara' | translate }}</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="my-pitara" href="/tabs/my-pitara">
        <ion-icon aria-hidden="true" src="assets/icon/pitara1.svg"></ion-icon>
        <ion-label>{{'My Pitara' | translate }}</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>

