h4{
    text-align: center;
    color: var(--ion-color-medium);
    padding: 0.75rem 0 0.75rem 0;
    user-select: auto
}

ion-button{
    padding: 0 0.75rem 0.75rem 0.75rem;
    --border-radius: 2rem;
}
