<ion-content [fullscreen]="true">
  <!--slider-->
  <div class="grid-slider">
    <div class="grid-slider__header">
      <div class="">{{'Recently Viewed'|translate}}</div>
      <div class="grid-slider__header__link" (click)="viewAllCards('recentlyviewed')">{{"View All" | translate}}</div>
    </div>
    <div class="viewed-content" *ngIf="!contentList.length">
      <div class="viewed-content__info" >
        <!-- <div class="viewed-content__info__image">
          <img src="/assets/images/playlist_bot.png">
        </div> -->
        <div class="viewed-content__info__text">{{'No contents' | translate}}</div>
      </div>
    </div>
    <div class="grid-slider__container">
      <div class="grid-slider__container__card" *ngFor="let content of contentList">
        <div (click)="playContent(content)">
          <ion-card *ngIf="content?.metaData?.thumbnail">
            <img [src]="content.metaData.thumbnail" alt="" />
          </ion-card>
          <div class="card-title" *ngIf="content?.metaData?.name">{{content.metaData.name |translate}}</div>
        </div>
      </div>
    </div>
  </div>
  <!--slider ends here-->

  <!--my playlist cards-->
  <div class="playlist">
    <div class="playlist__header">
      <div class="">{{"My Playlist" | translate}}</div>
      <div class="playlist__header__button" (click)="viewAllCards('playlist')">
        <ion-button>{{"New Playlist" | translate}} <ion-icon slot="end" aria-hidden="true"
            src="../../../assets/icon/Add-circle-outline.svg"></ion-icon></ion-button>
      </div>
    </div>
      <div >
        <div class="playlist-bot" *ngIf="!playlists.length">
          <!-- <div class="playlist-bot__image">
            <img src="/assets/images/playlist_bot.png">
          </div> -->
          <div class="playlist-bot__text">{{'Click on New Playlist button to create your first playlist' | translate}}</div>
        </div>
      </div>
    <div class="playlist__container">
      <div *ngFor="let playlist of playlists" >
        <div class="playlist__container__items" (click)="navigateToDetails(playlist)">
          <div class="playlist__container__items__cards">
            <ion-card>
              <img src="/assets/images/Playlist.png" alt="" />
            </ion-card>
            <div class="layer1"></div>
            <div class="layer2"></div>
          </div>
          <div class="playlist__container__items__metadata" *ngIf="playlist?.name">
            {{playlist.name}}
          </div>
          <div class="kabab-menu-icon" (click)="openModal(playlist)">
            <ion-icon slot="end" aria-hidden="true" src="../../../assets/icon/kabab-icon.svg"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div style="text-align:center" (click)="viewAllCards('playlist')" *ngIf="playlists.length">
    <ion-button class="btn-len">{{"New Playlist" | translate}}<ion-icon slot="end" aria-hidden="true"
        src="../../../assets/icon/Add-circle-outline.svg"></ion-icon></ion-button>
  </div> -->
  <!--New playlist page ends here-->

</ion-content>